// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// Grid and Layout
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------
// -----------------------------------------------------------------

// Grid Controls

$grid-number-columns:                      12;
$grid-margin-width:                        2.6;

// Choose which breakpoints and features you want to support.
// Small (sm) and medium (md) are required, everything else is optional.

$grid-breakpoints:                         "xs", "sm", "md";
$grid-margins:                             false;
$grid-push:                                false;
$grid-pull:                                false;
$grid-offset:                              false;

// Choose whether or not to print the numeric grid classes (.col-sm-5). Optional.
// Note that friendly placeholders (.col-quarter, .col-sm-quarter) will always print.

$grid-classes:										 false;

// Grid Spacing

$grid-column-padding:                      0 20px;

// Media Queries

$MQs: true;

$XS:                                       500px;
$SM:                                       768px;
$MD:                                       992px;
$LG:                                       1200px;

// Container Widths

$container-SM:                             750px;
$container-MD:                             970px;
$container-LG:                             1170px;

$bun-red: 		#ff2d2d;
$hop-orange: 	#ff722d;
$niff-yellow: 	#FFF550;
$light-gray:	#d6d6d6;