<!DOCTYPE HTML>
<html>
<head>
	<title>{{ .Title }} | Ashley Kolodziej - Boston Freelance Web Designer</title>
	{{ template "_internal/google_analytics_async.html" . }}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/google_news.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
</head>
<body>
<button id="menu" class="material-icons">menu</button>
<div class="content-container logo-container">
	<a href="/" class="logo load-link">Ashley <span></span> Kolodziej</a>
</div>