<!DOCTYPE HTML>
<html>
<head>
	<title>{{ .Title }} | Ashley Kolodziej - Boston Freelance Web Designer</title>
	{{ template "_internal/google_analytics_async.html" . }}
	<style type="text/css">
		{{ partial "critical.css" . | safeCSS }}
	</style>
	{{ template "_internal/opengraph.html" . }}
	<meta property="og:image" content="http://lastletterdesign.com/css/opengraph.jpg" />
	<meta property="og:image:url" content="http://lastletterdesign.com/css/opengraph.jpg" />
	{{ template "_internal/google_news.html" . }}
	{{ template "_internal/schema.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-control" content="public">
</head>
<body>
<button id="menu" class="material-icons">menu</button>
<div class="content-container logo-container">
	<a href="/" class="logo load-link">Ashley <span></span> Kolodziej</a>
</div>