<aside id="resume" class="resume">
	<h3><span class="material-icons">work</span> Experience</h3>
	<h4><a href="http://www.bu.edu/interactive-design/">Boston University</a></h4>
	<h5>UX &amp; Product Design Lead</h5>

	<h5>Lead Designer</h5>
	<ul>
		<li>Lead the creative charge on a variety of projects, ranging from high-profile school and college sites to interactive editorial articles in an agency-style environment while adhering to internal brand guidelines</li>
		<li>Lead design discussion and present work throughout all stages of the project</li>
		<li>Collaborate with and seek feedback from developers, writers, other designers, and photographers</li>
		<li>Evaluate design, information architecture, content, and user experience decisions based on user feedback and data from a variety of sources, including user profiles, surveys, and testing with the OptimalWorkshop suite of user research tools</li>
		<li>Assist in the development of websites using HTML5, Sass, jQuery, and WordPress, focusing primarily on Sass</li>
		<li>Provide guidance on content development and overall direction of voice and tone – both visual and written</li>
		<li>Regularly contribute to, document and improve an internal framework for site development using Git, Sass, and Grunt</li>
	</ul>
</aside>